.social {
  display: flex; /* Alinear los iconos de redes sociales en línea */
  gap: 10px; /* Espacio entre los iconos de redes sociales */
  position: fixed; /* Fijar la posición de los iconos a la pantalla */
  top: 10px; /* Alinear en la parte superior con más espacio */
  right: 40px; /* Alinear a la derecha con más espacio */
  z-index: 1; /* Asegúrate de que los iconos estén por encima de otros elementos */
  flex-wrap: wrap; /* Permitir que los iconos se envuelvan si hay poco espacio */
  justify-content: flex-end; /* Alinear a la derecha */
}




@media (max-width: 768px) {
  .social {
      top: 5px; /* Ajusta la posición superior en pantallas más pequeñas */
      right: 5px; /* Ajusta la posición derecha en pantallas más pequeñas */
      gap: 5px; /* Reduce el espacio entre los iconos en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .social {
      gap: 5px; /* Mantiene el espaciado adecuado */
      justify-content: center; /* Centra los iconos en pantallas muy pequeñas */
  }
}
