.base {
  display: flex;
  flex-direction: column; /* Mantiene los íconos en columna */
  align-items: flex-start; /* Alinea los íconos a la izquierda */
  gap: 10px; /* Espacio entre los íconos */
  color: #000000;
  padding-left: 20px; /* Agregar padding a la izquierda para moverlo más a la izquierda */
  max-width: 100%; /* Asegúrate de que no exceda el ancho del contenedor */
}

.base > div {
  margin-bottom: 10px; /* Espacio de 10px entre cada div */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .base {
      padding-left: 15px; /* Reducir el padding en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .base {
      padding-left: 10px; /* Ajustar aún más el padding en pantallas muy pequeñas */
  }
}
