
@import './components/code/Lenguas.css';
@import './components/Wordle/Wordle.css';

/* ==========================
   Global Styles
   ========================== */
   html,
   body {
     background-color: white;
     margin: 0;
     padding: 0;
     min-height: 100vh;
     font-family: Arial, sans-serif;
     overflow-y: visible;
     overflow-x: hidden;
   }
   
   /* ==========================
      Layout Containers
      ========================== */
   .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 1rem;
   }
   
   
   /* ==========================
      Icono Styling
      ========================== */
   .icono {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     margin-right: 10px;
     height: 42%;
   }
   
   .icono .logo {
     height: 150px;
     padding: 1.5em;
     will-change: filter;
     transition: filter 800ms;
   }
   
   .icono .texto {
     color: black;
     margin-left: 1rem;
     margin-top: auto;
   }
   
   /* ==========================
      Card & Image Styling
      ========================== */

   .card {
    padding: 2em;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease; /* Transición suave */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
  }





  /* Card component */

.card-title {
  color: #888;
}

.card-image {
  width: 300px;
  height: auto;
}

   
   .pokemons {
     width: 300px;
     height: auto;
     position: left;
   }
   
   .platzi-experiencia {
     text-align: left;
   }
   
   .read-the-docs {
     color: #888;
   }
   
   .box {
     border: 1px solid #ccc;
     padding: 10px;
     margin: 5px;
   }
   
   /* ==========================
      Footer Styling
      ========================== */
   .footer {
     background-color: black;
     text-align: center;
     color: #fff;
     padding: 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   .footer p {
     margin: 0;
     font-size: 1rem;
   }

   
   /* ==========================
      Typing Animation
      ========================== */
   @keyframes typing {
     from {
       width: 0;
     }
   
     to {
       width: 100%;
     }
   }
   
   .texto {
     overflow: hidden;
     white-space: nowrap;
     width: 100%;
     max-width: fit-content;
     animation: typing 5s steps(50, end) forwards;
     color: black;
     font-family: monospace;
     position: relative;
   }
   
   /* ==========================
      Responsive Design
      ========================== */
   @media (max-width: 768px) {
     #root {
       padding: 1rem;
     }
   
     .icono {
       flex-direction: column;
     }
   
     .icono .logo {
       max-height: 100px;
     }
   
     .texto {
       font-size: 1.2rem;
     }
   
     .col-xs-2 {
       width: 50%; /* Dos columnas por fila en pantallas medianas */
     }
   }

  @media (max-width: 480px) {
    .texto {
      font-size: 1rem;
    }
   }
